html {
    font-size: 62.5%;
}

.wraptor { 
    max-width: 900px;
}

.wraptor,
.subWraptor {
    margin: 0 auto;
    width: 80%;
}

ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
}

body,
h1,
h3,
fieldset {
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-size: 8rem;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 3px #753BBD;
}

h3,
input {
    display: block;
}

fieldset {
    border: 3px solid #753BBD;
    box-shadow: 10px 10px  #BA0C2F;
    margin-top: 60px;
    .formRow {
        margin-top: 20px;
        &:last-of-type {
            margin-bottom: 40px;
        }
        &:first-of-type {
            margin-top: 40px;
        }
        @include flex (row, nowrap, flex-start, center);
    }
    input {
        margin-right: 15px;
    }
}

h3 {
    font-size: 3rem;
    background-color: #753BBD;
    padding: 20px;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}

header {
    height: 50vh;
    @include flex(row, nowrap, center, center);
}

footer,
header {
    background-color: #BA0C2F;
}

footer {
    padding: 20px;
    margin-top: 60px;
    p {
        margin: 0;
        text-align: center;
    }
}