html {
    font-size: 62.5%;
    background-color: #FAFAFA;
}

main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.wraptor { 
    max-width: 700px;
    @include flex(column, nowrap, flex-start, center);
}

.wraptor,
.subWraptor {
    margin: 0 auto;
    width: 80%;
}

ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
fieldset {
    margin: 0;
    padding: 0;
}
